input {
  margin: 5px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
button {
  background-color: white;
  border: 2px solid #4caf50;
  border-radius: 15px;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: #4caf50;
  color: white;
}
form {
  padding: 8px;
}
.user {
  display: flex;
  padding: 10px;
  margin: 4px;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}
.btn-edit {
  border: 2px solid orange;
}
.btn-edit:hover {
  background-color: orange;
}
.btn-delete {
  border: 2px solid red;
}
.btn-delete:hover {
  background-color: red;
}
.btn-cancel {
  border: 2px solid #e3242b;
}
.btn-cancel:hover {
  background-color: #e3242b;
}
